
@import url("//hello.myfonts.net/count/39fec4");

@font-face {font-family: 'AmericanWriter';src: url('webfonts/39FEC4_0_0.eot');src: url('webfonts/39FEC4_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/39FEC4_0_0.woff2') format('woff2'),url('webfonts/39FEC4_0_0.woff') format('woff'),url('webfonts/39FEC4_0_0.ttf') format('truetype');}
 
#body {
  background-color: white;
  /* font-family: "American Writer"; font-size: 30px; color: aqua; FONT NOT ACCEPTED in BODY */
}

#header {
  background-color: rgb(161, 161, 170);
  border-radius: 5px;
  margin: 10px;
  padding: 0;
}

#header > *{
  display: inline-block;
  border-radius: 5px;
  margin: 10px;
}

#headerText {
  font-family: "American Writer";
  text-align: left;
  color: aqua;
  font-size: 30px;
  padding-left: 20px;
  padding-bottom: 50px;
}

  .img {
    height: 200px;
    width: 300px;
    padding-top:25px;
    position: absolute;
  }

#navbar {
  font-family: "American Writer";
  color: aqua;
  font-size: 30px;
  margin: 10px;
  align-content: center;
	background-color:  rgb(161, 161, 170);
	width: auto;
	height: 50px;
	border-radius: 5px;
}

.nav{
  text-align:center;
}

.nav li{
  display:inline;
}

.nav a{
  display:inline-block;
  padding:10px;
}

#flex-container {
  background-color:  rgb(161, 161, 170);
  font-family: "American Writer";
  font-size: 25px;
  height: 210px;
  width: auto;
  border-radius: 5px;
  margin-right: 10px;
  padding: 10px;
}

#bio {
  background-color: aqua;
  align-content: center;
  width: auto;
  margin: 10px;
  padding: 1px;
  border-radius: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 5px;
  flex-basis: 100%;
  flex: 1;
}

.ttwfProject {
  background-color: aqua;
  height: 100px;
  border-radius: 5px;

}

.dxdProject {
    height: 100px;
    background-color: aqua;
    border-radius: 5px;

}

.q2LProject {
  background-color: aqua;
  height: 100px;
  border-radius: 5px;
}
